:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
        url('images/bg-pattern-top.svg') top -300px left -100px / contain no-repeat, 
        url('images/bg-pattern-bottom.svg') bottom -300px right -100px / contain no-repeat,
        var(--dark-cyan);
    font-family: "Kumbh Sans", sans-serif;
}

.card-container {
    width: 375px;
    max-width: 375px;
    padding: 50px 1rem 1rem ;
    border-radius: 20px;

    background: url(images/bg-pattern-card.svg) no-repeat top;
    background-size: 375px;
    background-color: #fff;
}
.my-image {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: 5px #fff solid;
    border-radius: 5000px;
    background: url(images/Diego29.jpg) no-repeat center center/cover;

    transition: border-radius 0.15s ease-in-out;
}
.my-image:hover {
    border-radius: 0;
    border: 0;
}
.my-image img {
    width: 100%;
}

.text-streak {
    margin: 2rem 0 1rem;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--desaturated-blue);
}
.streak {
    display: flex;
    flex-wrap: wrap;
}
.days {
    box-sizing: content-box;
    width: fit-content;
    margin: 5px;
    background: 
        linear-gradient(var(--dark-cyan), cyan, var(--dark-cyan));
    padding: 8px 15px;
    border-radius: 20px;
}
.summary {
    width: 130px;
    text-align: center;
    font-weight: bold;
    padding: .5rem;
    margin: 2rem auto;
    border-radius: 20px;
    background: 
        linear-gradient(var(--dark-cyan), cyan, var(--dark-cyan));
}

.days,
.summary {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3), 
  -4px -4px 10px rgba(255, 255, 255, 0.2);
}