@import url("../styles.css");


body {
    height: fit-content;
    padding: 2rem 0;
}



.screenshot {
    border: 5px solid #fff;
    border-radius: 10px;
    margin: 2rem 0 1rem;
}
.screenshot img {
    width: 100%;
}
.title {
    text-align: center;
}
.links p {
    font-size: 18px;
    font-weight: 600;
}
.links p,
.comment{
    margin: .5rem;
}
.links p:hover a {
    text-decoration: underline;
}
.intro {
    line-height: 1.3;
    margin-bottom: 10px;
}
ul {
    margin: 20px;
    line-height: 1.5;
}